.hero {
  grid-column: inner;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--menu-height));
  color: #efefef;
/*   border: 2px solid red;
 */
  &__content{
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
  }

  &__title {
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  &__subtitle {
    font-weight: 200;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }

  &__btn {
    background-color: var(--color-secondary);
    padding: 0.75rem 1.25rem;
    letter-spacing: .1rem;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 5px 10px var(--color-primary);
  }

  &__link {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--color-light);
    &:visited {
      color: var(--color-light);
    }
  }
}
