:root {
  --font-serif: serif;
  --font-sans: "Open Sans";
  --font-headers: "Poppins", sans-serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-1: var(--font-base);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --color-accent: #3e142a;
  --color-light: #efefef;
  --color-medium: #666;
  --color-dark: #333;
  --color-primary:#677167;
  --color-secondary:#aaab9b;
  --section-gap: 8rem;
  --section-gap-inner: calc(var(--section-gap) * 0.75);
  --section-gap-inner-small: calc(var(--section-gap) * 0.5);
  --grid-gap: 3rem;
  --page-width: 78rem;
  --page-padding: 30px;
  --content-width: 55rem;
  --content-width-small: 40rem;
  --menu-height: 100px;
  /* Outer grid */
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start]
    minmax(0, var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: repeat(12, 1fr);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/src/assets/images/sage.jpg");
  background-clip: padding-box;
  object-fit: cover;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: var(--grid-container);
}

* {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  font-weight: 400;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p,
a,
li {
  line-height: 1.5;
  font-family: var(--font-sans);
}

.header {
  display: grid;
  height: var(--menu-height);
  grid-column: inner;
  grid-template-columns: var(--grid-content);
}

.branding {
  color: var(--color-light);
  display: flex;
  align-items: center;
  height: 100%;
  grid-column: 1/4;
}
.branding__text {
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.menu {
  font-size: var(--font-size-1);
  font-weight: 500;
  color: var(--color-light);
  display: flex;
  align-items: center;
  grid-column: 4/13;
}
.menu__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.menu__item {
  list-style: none;
}
.menu__link {
  font-family: var(--font-sans);
  text-decoration: none;
}
.menu__link:visited {
  color: var(--color-light);
}

.hero {
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--menu-height));
  color: #efefef;
}
.hero__title {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.hero__subtitle {
  font-weight: 200;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}
.hero__btn {
  background-color: var(--color-secondary);
  padding: 0.75rem 1.25rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 5px 10px var(--color-primary);
}
.hero__link {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--color-light);
}
.hero__link:visited {
  color: var(--color-light);
}

/*# sourceMappingURL=style.css.map */
