@use '../tools/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/src/assets/images/sage.jpg');
    background-clip: padding-box;
    object-fit: cover;
}

img {
  max-width: 100%;
}

a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

.container {
  display: grid;
  grid-template-columns: var(--grid-container);
}
